.gradle
.idea

eclipse/*

build/*

logs/*
config/*
crash-reports/*
run/*
gradle/*
screenshots/*
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

mods/*
/modcore/config.toml
/modcore/Sk1er Modcore-0.1.47 (1.8.9).jar
/.mixin.out/audit/mixin_implementation_report.csv
/.mixin.out/audit/mixin_implementation_report.txt
/modcore/metadata.json
